{"Style":[],"Content":[{"0":"AGENT","1":"ACTION","2":"PATIENT","3":"[SKIP] COMMENTS","4":"[SKIP] DEP","5":"[SKIP] UID","6":""},{"0":""}],"Columns":[{"id":"0","title":"AGENT"},{"id":"1","title":"ACTION"},{"id":"2","title":"PATIENT"},{"id":"3","title":"[SKIP] COMMENTS"},{"id":"4","title":"[SKIP] DEP"},{"id":"5","title":"[SKIP] UID"},{"id":"6","title":""}]}